body {
  font-family: Helvetica;
}

header h1 {
  background-image: url('../images/pattern.jpeg');
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.sectionHeading {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes .sectionHeading {
  background-color: mediumspringgreen;
}

#frames .sectionHeading {
  background-color: lightcoral;
}

#paint .sectionHeading {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
